{% autoescape off %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        h1{
            color: rgb(222, 106, 56);
        }
        p{
            font-size: 22px;
        }
       
    </style>

    
</head>
<body>
    <h1>Hello {{user.username}} Book lover!</h1>
    <p>
        Ikenga is a reliable source for book lovers who are looking for a place to buy books at such low prices! 
        Ikenga is a reliable source for book lovers who are looking for a place to buy books at such low prices! 
        Ikenga is a reliable source for book lovers who are looking for a place to buy books at such low prices! 
    </p>
    
</body>
</html>

{% endautoescape %}