[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg-binary = "*"
dj-database-url = "*"
pydantic = "*"
pydantic-settings = "*"
pillow = "*"
six = "*"
django-filter = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
